
<div class="row">
    <div class="col-sm-6 datos">
      <div class="datos">
        <div class="card-body">
            
            <i class="bi bi-envelope-at"><p>javi86medina@hotmail.com</p></i>
            <i class="bi bi-geo-alt-fill"><p>Tarragona, España</p></i>
            <i class="bi bi-github"></i><p>github.com/elboop86(javier medina)</p>
            
          
        </div>
      </div>
    </div>
    <div class="col-sm-6 datos">
      <div class="datos">
        <div class="card-body">
          
            <i class="bi bi-telephone-fill"></i><p>638517997</p>
            <i class="bi bi-linkedin"></i><p>linkedin.com/in/javier-medina-cabrerizo</p>
          
        </div>
      </div>
    </div>
</div>