<div class="contenedor">
<div class="row">
    <div class="col-sm-6">
      <div class="formacion">
        <div class="card-body">
          <h5 class="title-formacion">Formación</h5>
          <h3 class="card-text"><strong>Desarrollo Frontend con Angular</strong> </h3>
          <p>Fundación Adecco/online</p>
          <p>5/2023 al 07/2023</p>
          <p>App Ecomarket, curso de 215h de Angular, Ionic, js y bases de datos</p>

          <h3 class="card-text"><strong>Java con Spring</strong></h3>
          <p>Fundación Adecco/online</p>
          <p>1/2023 al 03/2023</p>
          <p>215horas de lenguaje Java con Spring , creación de app con 75% java y 25% Html, bases de datos.</p>

          <h3 class="card-text"><strong>Desarrollo y diseño web</strong></h3>
          <p>creación y diseño web/Tokio school</p>
          <p>11/2021 a 11/2023</p>
          <p>Curso de creación y diseño web con Java, Javascript, html5, css, springBoot</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="proyectos">
        <div class="card-body">
          <h5 class="title-proyectos">Proyectos Personales</h5>
          <h3 class="card-text"><strong>EcoMarket</strong></h3>
          <p>App con Angular de comercio online de Frutas y Verduras, 'EcoMarket' directo del campo a casa.</p>
          <br>
          <h3 class="card-text"><strong>FundAdecco2023</strong></h3>
          <p>App para taller mecanico con creacion de citas y gestion de clientes</p>
          <br>
          <h3 class="card-text"><strong>E-Tokio: Proyecto fin de curso Tokio school</strong></h3>
          <p>App de comercio electronico como proyecto final de curso web</p>
          
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-6">
      <div class="experiencia">
        <div class="card-body">
          <h5 class="title-experiencia">Experiencia Laboral</h5>
          <h3 class="card-text"><strong>Control Accesos/Almacén Ikea/Valls</strong></h3>
          <p class="card-text"> 04/2018 a 01/2023</p>
          <p>Recepción de documentación, atención al público..</p>
          <br>
          <h3 class="card-text"><strong>Vendedor Expendedor/Gasolinera</strong></h3>
          <p class="card-text"> 05/2014 a 02/2017</p>
          <p>Atención al cliente, cobro, gestión tienda, limpieza...</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="certificados">
        <div class="card-body">
          <h5 class="title-certificados">Certificados</h5>
          <p class="card-text"><strong>DESARROLLO WEB CON JAVA de 215 horas.</strong></p>
          <p>Curso Backend con Java donde aprendí sobre bases de datos y trabajar del lado del servidor.
             Creación de la App taller mecánico "FundAdecco"</p>
          <p>01/2023 a 03/2023</p>
          <br>
          <p class="card-text"><strong>Secretaría y Administración</strong></p>
          <p>Curso Superior en Secretaría y Administración. Marketing, ventas, gestión de stocks.. Escuela EAD Barcelona</p>

        </div>
      </div>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-6">
      <div class="idiomas">
        <div class="card-body">
          <h5 class="title-idiomas">Idiomas</h5>
          <p class="card-text">Castellano nivel nativo</p>
          <p>Catalan nivel nativo</p>
          <p>Ingés nivel usuario</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="interes">
        <div class="card-body">
          <h5 class="card-title">Interés</h5>
          <label>Java</label><br><label>JavaScript</label><br><label>HTML</label><br><label>CSS</label><br>
          <label>ANGULAR</label><br><label>IONIC</label>
        </div>
      </div>
    </div>
  </div>
</div>