<div class="input-group mb-3">
  
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
          <option selected>Competencias</option>
          <option value="1">HTML</option>
          <option value="2">CSS</option>
          <option value="3">JAVA</option>
          <option value="4">JAVASCRIPT</option>
          <option value="5">ANGULAR</option>
          <option value="6">IONIC</option>
          <option value="7">GITHUB</option>
          <option value="8">ITELLY J</option>
          <option value="9">VISUALSTUDIO</option>
          <option value="10">TRELLO</option>
        </select>
        <label for="floatingSelectGrid">Works with selects</label>
      </div>
    </div>
  </div>

